body {
    font-family: 'Amiri', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    width: 100vw;
  }

  section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden; /* تجنب التداخل بين النص والصور */
  }

  section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    
  }

  .text-with-image {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    position: relative;
    bottom: 0%;
    width: 100vw;
  }
  .text-with-image2{
      display: flex;
      justify-content: center;
      align-items: center;

  }
  .img2{
   margin-right:2rem;
   width: 20vw;
  }
  .andlos-title{
      text-align: center;
      font-size: 1.75rem;
  }
  .fa-solid{
    color: aqua;
    position: relative;
    bottom: -3px;
    cursor: pointer;
  }
  p a{
    color: blue;
    text-decoration:none;
  }
.defeat-andlos{
    font-size: 1.25rem;
}
.omaty{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
iframe{
    margin-bottom: 1rem;
}
.group{
    text-align: center;
    margin-top: 1.5rem;
}
footer a{
    color: inherit;
    text-decoration: none;
}
.text-with-image,.img2{
    transition: 0.3s;
}
.text-with-image:hover,.img2:hover{
    transform: scale(1.1);
    border-radius: 20%;
}
@media screen and (max-width:500px){
   html{
    overflow-x: hidden;
   }
   .text-with-image {
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
   }
   .text-with-image2{
    flex-direction: column;
   }
   .img2{
    width: 80vw;
    margin: auto;
    margin-bottom: 1.5rem;

   }
   iframe{
    width: 300px;
    height: 200px;
   }
}